body{
    background-color:rgb(0, 200, 255)
}
h1{
    background-color:rgb(21, 255, 0);
    padding: 10px;
   ;
}
#cells{
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 225px;
    margin: auto;

}
#restartbtn{
    background-color:rgb(255, 166, 0);;
    padding: 10px;

}
#status{
    background-color:rgb(21, 255, 0);
    padding: 10px;
 
}


.cell{
    width: 75px;
    height: 75px;
    border: 2px solid;
    box-shadow: 0 0 0 2px;
    line-height: 75px;
    font-size: 50px;
    cursor: pointer;
}
.cell:hover{
    background-color: rgb(179, 255, 0)
}

@keyframes winningAnimation {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.winning-cell {
    animation: winningAnimation 0.5s ease-in-out forwards;
    background-color: rgb(21, 255, 0);;
}
.winning-cell:hover{
    background-color: rgb(21, 255, 0);;
}
.draw-cell{
        animation: winningAnimation 0.5s ease-in-out forwards;
        background-color: rgb(251, 255, 0)
}
.draw-cell:hover{
    background-color: rgb(251, 255, 0)
}