body{
    background-color:rgb(16, 110, 178);
    text-align : center;   
}
p{
    background-color:aliceblue;
    width: 50%;
    align-items:center;
    justify-content:space-between;
}
ul{
    background-color:aliceblue;
    align-items:center;
    text-align:center;
    max-width:50%;
}
li{
    background-color:aliceblue;
    align-items:center;
    justify-content:space-between;
    margin:5px;
    max-width:50%;
}
ul li button{
    display:flex;
    position:absolute;
    right:0;
}
main div{
    max-width:50%;
    background-color:aliceblue;
}